TIMEZONE=Asia/Tashkent
SENTRY_DSN=https://22cdbc890ee9d13517e9462590f97846@o4509350950993920.ingest.de.sentry.io/4509350962528336
SENTRY_ENV=development
DB_ECHO=0
PROJECT_NAME=App
VERSION=1.0.0
DEBUG=true
CORS_ALLOWED_ORIGINS=http://localhost:3000

POSTGRES_USER=admin
POSTGRES_PASSWORD=j6CD3J9WvAKpLrho
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=postgres

JWT_USER_SECRET_KEY=X71tge9qFnVAwXRjmEG5pkdT62S8KKH5m2j6CD3J9WvAKpLrho
JWT_SUPERUSER_SECRET_KEY=Q85wzc4bHyLSfWKxiNH2rufX39A7JJQ2f1k8DT5S6UoEMdPvay

ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=129_599
REFRESH_TOKEN_EXPIRE_MINUTES=129_600

REDIS_HOST=redis
REDIS_PASSWORD=xiNH2rufX39A7JJQ2f
REDIS_PORT=6379
REDIS_DATABASE=0

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=5pkdT62S8KKH5m

EMAIL_SERVER=smtp.gmail.com
EMAIL_PORT=587
EMAIL_PASSWORD=dsus vqgp rlcu hali
EMAIL_USER=amirkek80@gmail.com
EMAIL_USE_TLS=True
