aiofiles
alembic
argon2-cffi>=25.1.0
asyncpg
black
celery
fastapi
fastapi-pagination
fastapi_mail
flower
GeoAlchemy2
gunicorn
httpx
loguru
passlib
pre-commit==3.8.0
psycopg2-binary
pydantic
pydantic-settings
pydub
pyjwt
pytest
pytest-asyncio
python-dotenv
python-multipart
pytz
redis
sentry-sdk
sqlalchemy
uvicorn
websockets
